/* Google Font import */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Modern Reset */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
    padding: 0;
}

ul {
    padding: 0;
    list-style-type: none;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li {
    margin: 0;
}

/* Remove default link styling */
a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

/* Variables */
:root {
    --clrMain: rgb(28, 1, 32);
    --clrTopbar: rgb(27, 12, 29);
    --clrMenu: rgb(15, 0, 17);
    --clrFooter: rgb(30, 22, 30);
    --clrText: rgb(246, 240, 247);
    --clrTextHover: rgb(215, 195, 219);
    --clrSelection: rgb(145, 122, 200);
    --clrOpaqueBorder:rgba(28, 1, 32, 0);
    --tenPadding: 0% 10%;
}

#root {
    display: grid;
    grid-template-rows: 100px 1fr;
    font-family: 'Poppins', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    max-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background-image: linear-gradient(to top right, rgb(28, 1, 32), rgb(52, 45, 54));
    color: var(--clrText)
}

/* APP PAGE */
nav {
    position: fixed;
    width: 100%;
    height: 60px;
    color: var(--clrText);
    background: var(--clrTopbar);
}

.main__menu {
    text-transform: uppercase;
    display: flex;
    place-content: center;
}

.main__menu ul {
    display: flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    padding: 15px
}

nav li:hover {
    border-bottom: 5px solid var(--clrTextHover);
    display: table;
    margin-left: auto;
    margin-right: auto;
}

main {
    padding: 100px 0px 100px 120px;
}

.spells-list-links ul {
    display: flex;
}

.spells-list-links li {
    border: 2px solid var(--clrOpaqueBorder);
    padding: 0px 5px 2px 5px;
}

.spells-list-links li:hover {
        border-bottom: 2px solid var(--clrTextHover);
}

/* Make images easier to work with */
img {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

h1,
h2 {
    margin-bottom: 0.5rem;
}

.center {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.light-shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 3px 9px rgba(0, 0, 0, 0.08);
}

.spells-section {
    height: 100vh;
    padding: 2rem 1rem;

    overflow-y: hidden;
}

.spells-section header {
    padding: 0.5rem 0;

    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;

    border-bottom: 1px solid #1b1b1b;
}

.spells-list>li+li {
    border-top: 1px solid #cbcbcb;
}

.spells-list {
    max-width: 800px;
}

.spells-list>li {
    padding: 1rem 0;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1rem;
}

/* VIEW SECTION */

.spell__view {
    max-width: 800px;
}

.spell__detail {
    padding: 10px 0px 10px 0px;
}

.view-section {
    padding: 2rem 0;
}

.form-stack>*+* {
    margin-top: 0.5rem;
}

.form-stack>label {
    display: block;
}

.form-stack>input {
    width: 100%;
}

.spell-form {
    max-width: 400px;
}

/* .spell-input {
    display: grid;
    grid-template-rows: repeat(auto-fit, 300px);
    grid-auto-rows: auto;
    margin: 100px 50px;
    grid-gap: 20px;
    justify-content: center;
} */

.spell-form h1 {
    margin-bottom: 1rem;
}

.spell-form label {
    font-weight: bold;
}

/* .spell-form .checkbox-section {
    padding: 0.25rem 0;
} */

.spell-form .actions-section {
    display: grid;
    grid-auto-flow: column;
    justify-content: right;
    gap: 0.5rem;
}

.spell-card h2 {
    font-size: 1.15rem;
}

.textarea {
    color: var(--clrMain);
}

.checkbox {
    margin: 5px;
}

.checkbox-container {
    display: inline;
}

input {
    background-color: var(--clrText);
    border-color: var(--clrText);
    border-radius:5px;
    padding: 2px
}

input:focus {
    border: solid ;
}

.button__form {
    border: var(--clrText) solid 2px;
    background-color: var(--clrMain);
    color: var(--clrText);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 50px;
}

.button__form:hover {
    background-color: var(--clrText);
    color: var(--clrMain);
    cursor: pointer;
    font-weight: bold;
}